/* HOME */

h1 {
  font-size: 1.5rem;
}

.App {
  font-family: sans-serif;
  text-align: center;
  color: black;
  width: 100%;
}

.image {
  border-radius: 50%;
  width: 100px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px 20px;
}

.btn {
  padding: 12px;
  border: 1px solid #eaecf0;
  background-color: #eaecf0;
  font-size: 0.9em;
  font-weight: 700;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.btn a,
.btn-container a {
  text-decoration: none;
  color: #000;
}

.btn:hover {
  margin-right: -8px;
  transition: all 0.3s ease-in;
}

#slack {
  display: none;
}

.socials img {
  width: 35px;
  margin: 30px 5px;
  object-fit: contain;
}

/* CONTACT PAGE */

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 9px;
  text-align: left;
  color: #475467;
  font-size: 16px;
  width: 60%;
  margin: 20px auto 10px;
}

.name-section {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 8px;
}

.fname-section {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

input,
textarea {
  align-items: center;
  padding: 10px 14px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  margin-top: 3px;
  margin-bottom: 10px;
}

textarea {
  margin-bottom: 10px;
}

input:focus,
textarea:focus {
  font-size: 1rem;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.formBtn {
  margin-top: 10px;
  width: 100%;
  padding: 9px;
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: #ffffff;
}

.formBtn:hover {
  border: 1px solid #b2ddff;
  background-color: #b2ddff;
}

form p {
  margin-top: -15px;
  margin-bottom: 30px;
}

@media (max-width: 780px) {
  form {
    width: 90%;
  }

  .name-section {
    grid-template-columns: 2fr;
  }
}

/* FOOTER */

hr {
  margin: 50px 20px -40px;
  border: 1px solid #d0d5dd;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 70px 20px 19px;
}

.footer p {
  font-size: 1.2rem;
  color: #667085;
}

.logo2 {
  width: 130px;
}

.logo1 {
  width: 110px;
}

@media (max-width: 780px) {
  .footer {
    display: block;
    text-align: left;
    /* margin-left: 7px; */
  }
}
